/**, *:before, *:after {
    box-sizing: inherit;
}*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}


.main-pagina-contenido{
    display: flex;
    flex-direction: row;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}


/* BARRA DE MENU LATERAL IZQUIERDO*/  
.barra-menu{
    height: 100%;
    min-width: 250px;
    width: 400px;
    margin: 10px 30px 10px 10px; 
    box-shadow: 2px 2px 15px #E2E2E2;
    position: sticky;
    top: 100px;
    border-radius: 10px;
}
.barra-menu h1{
    font-size: 25px;
    line-height: 1.8em;
    margin-left: 15px;
    margin-bottom: 15px;
    max-width: 140px;
    border-bottom: 3px solid #68CF79;
    cursor: default;

}
.barra-menu h2{
    margin: 10px 5px 0 30px;
    font-size: 18px;
    line-height: 1.1em;
    font-weight: normal;
    cursor: default;
    margin-right: 10px;
}
.lista-temas{
    font-size: 17px;
    line-height: 1.0em;
    margin: 10px 10px 10px 45px;
    list-style: none;
    font-weight: normal;
    padding: 0;
    cursor: pointer;
}
.lista-temas li {
   margin-bottom: 15px;
}
.lista-temas li:hover {
    color: #68CF79;
}
.tema-del-nivel{
    width: fit-content;
}

.tema-seleccionado{
    color: #68CF79;
    background-image: url("../img/flecha.svg");/*modificar al subir a githuh*/
    padding-left: 23px;
    background-position: 0 0;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}
/* BARRA DE MENU LATERAL IZQUIERDO*/  



/* CONTENIDO DEL TEMA*/  
.seccion-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px; /*---------------------------------------------------*/
    max-width: 100%;
    margin: 10px 20px;
    box-shadow: 2px 2px 15px #E2E2E2;
    border-radius: 10px;
}
.seccion-contenido p{
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em;
    margin: 0;
}
.titulo-del-contenido{
    width: 100%;
    background: #68CF79;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}
.titulo-del-contenido h1{
    margin: 10px auto;
    color: white;
    font-size: 30px;
    font-weight: 300;
    padding: 0 10px;         /*-----------------------------------------------------------------*/
    line-height: 1.2em;  /*------------------------------------------------------------------------------------------------------*/
}
.informacion-contenido {
    padding: 10px 30px 30px 30px;
}
.informacion-contenido p{
    font-size: 17px;
}
.informacion-contenido h2{
    font-size: 20px;
    margin: 0 20px 15px 0;
    border-bottom: 2px solid #3EC153;
    line-height: 1.7em;
}
.informacion-contenido img { 
    max-width: 75%;
    min-width: 50%;
    margin: 10px auto; /*----------------------------------------------------------------------------*/
    display: block;
}
.contenidoTema-botones{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
/* CONTENIDO DEL TEMA*/ 



/* BOTONES PARA CAMBIAR DE TEMA*/ 
.seccion-botones{
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    max-width: 100%;
    min-width: 300px;
    justify-content: space-around;
}
.seccion-botones button:hover{
    background: rgb(101, 193, 114);
} 
.boton-niveles{
    background: rgb(104, 207, 121);
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px 35px;
    font-size: 22px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    box-shadow: 2px 3px 10px #565B56;
}

.seccion-boton-anterior{ 
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.seccion-boton-siguiente{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;

}


.boton-ver-niveles{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.boton-ver-niveles a{
    text-align: center;
    padding: 7px 40px;
    font-size: 20px;
    line-height: 1.3em;
}
.boton-ver-niveles a:hover{
    background: rgb(101, 193, 114);
    color: white;

}

/* BOTONES PARA CAMBIAR DE TEMA*/ 

.oculto{ /*todo el que tenga esta clase desaparesera*/
    display: none;
}



@media screen and (max-width: 1500px){
    .main-pagina-contenido{
        max-width: 90%;
    }
    .barra-menu{
        min-width: 280px;
    }
}

@media screen and (max-width: 1400px){
    .main-pagina-contenido{
        max-width: 95%;
    }
    .barra-menu{
        min-width: 270px;
    }

}

@media screen and (max-width: 1300px){
    .main-pagina-contenido{
        max-width: 98%;
    }
    .barra-menu{
        min-width: 250px;
    }

}

@media screen and (max-width: 1100px){

    .informacion-contenido h2{
        font-size: 17px;
        line-height: 1.7em;
    }
    .titulo-del-contenido h1{
        font-size: 25px;
        line-height: 1.2em;  
    }

    .informacion-contenido p{
        font-size: 15px;
    }

    .main-pagina-contenido{
        max-width: 95%;
    }

    .main-pagina-contenido{
        display: flex;
        flex-direction: column;    
    }

    .barra-menu{
        position: inherit;
        max-width: 95%;
        width: 100%;
        margin: 15px auto;
        box-shadow: 2px 2px 15px #E2E2E2;
        border-radius: 10px;
    }

    .boton-niveles{
        font-size: 18px;
    }
    .barra-menu h1{
        font-size: 20px;

    }
    .barra-menu h2{
        font-size: 16px;
    }
    .lista-temas{
        font-size: 15px;
    }
    .boton-ver-niveles a{
        padding: 5px 35px;
        font-size: 16px;
    }

}

@media screen and (max-width: 500px){
    .informacion-contenido p{
        font-size: 14px;
    }
    .informacion-contenido h2{
        font-size: 17px;
        line-height: 1.7em;
    }
    .titulo-del-contenido h1{
        font-size: 20px;
        line-height: 1.2em;  
    }
    .barra-menu{
        min-width: 300px;
    }
    .boton-niveles{
        font-size: 15px;
        padding: 5px 10px;
    }

}
